<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <bean id="helloService" class="cn.ubuilding.lurker.application.provider.impl.HelloServiceImpl"/>

    <bean id="doSomethingService" class="cn.ubuilding.lurker.application.provider.impl.DoSomethingServiceImpl"/>

    <bean id="zkRegistry" class="cn.ubuilding.lurker.support.registry.ZookeeperRegistry">
        <constructor-arg value="localhost:2181"/>
    </bean>

    <bean id="rpcServer" class="cn.ubuilding.lurker.server.Server" init-method="start">
        <!--服务暴露端口-->
        <property name="port" value="8899"/>
        <!--服务注册中心-->
        <property name="registry" ref="zkRegistry"/>
        <!--RPC服务-->
        <property name="services">
            <list>
                <ref bean="helloService"/>
                <ref bean="doSomethingService"/>
            </list>
        </property>
    </bean>

</beans>